body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "about about about"
    "services services services"
    "gallery gallery gallery"
    "sub sub sub"
    "blog blog blog"
    "contact contact contact";
    grid-template-rows: 6fr;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
}

/* Navigation */
.nav{
    width: 100vw;
    position: fixed;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.logo{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    width: 30vw;
}
.logo a{
    text-decoration: none;
    font-family: 'Chivo', sans-serif;
    color: black;
    font-size: 2rem;
    height: 50px;
}
.menu{
  
   width: 70vw;
   display: flex;
}
.menu ul{
    width: 100%;
}
.menu ul li {
    height: 50px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;

}
.menu ul li a{
    text-align: center;
    width: auto;
    text-decoration: none;
    color: black;
    font-family: 'Chivo', sans-serif;
    font-size: 1.25rem;  
    margin-right: 25px; 

}
.menu ul li a:hover{
    border-top: 4px solid orangered;
    transition: 0.5s;
}



/* Header */
.header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("./images/top-background.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header-text{
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    width: 425px;
}
.header-text h1{
    font-size: 3.5rem;
    font-family: 'Chivo', sans-serif;
}
.header-text p{
    line-height: 30px;
   font-size: 1.25rem;
}
.header-button{
    background-color: #ff6033;
    width: 230px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
}
.header-button:hover{
    opacity: 0.7;
    cursor: pointer;
}


/* About */
.about{
    grid-area: about;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #00c4c4;
    color: white;
}
.about-img{
    padding: 40px 0px 40px 0px;
    justify-self: center;
}

.about-text{
    grid-column: 2/3;
    align-self: center;
    justify-self: start;
    width: 450px;
}
.about-text h1{
    font-family: 'Lato', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
}
.about-text p{
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    line-height: 30px;
}

/* Services */
.services{
    grid-area: services;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    height: 80vh;
    background-color: #70bfff;
}
.services-cards{
    grid-column: 1/2;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 110px);
    align-content: center;
    grid-row-gap: 15px;
}
.service-card{
    background-color: white;
    width: 410px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    box-shadow: 10px 10px 20px black;

}
.service-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.service-card-text{
    height: 100px;
    width: 325px;
    align-content: center;
    display: grid;
    text-align: center;
    font-weight: 600;
    border-right: 2px solid #9d9d9d;
    font-size: 1.25rem;
}
.service-card-img{
    width: 73px;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
}


.services-title{
    grid-column: 2/3;
    display: flex;
    background-image: url("/images/tomatoes.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    width: 60%;
    height: 80%;
}
.services-title h1{
    font-size: 4rem;
    font-family: "Chivo", sans-serif;
    color: white;
    align-self: center;
}



/* Gallery */
.gallery{
    grid-area: gallery;
    background-color: #ffe92f;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 100vh;
}
.gallery-text{
    width:520px;
    text-align: center;
}
.gallery-text h1{
    font-size: 5rem;
    font-family: "Chivo", sans-serif;
    margin: 0;
    padding-top: 50px;
}
.gallery-text p{
    font-size: 1.25rem;
}

.slider{
    width: 600px;
    height: 400px;
}
.slider img{
    height: 100%;
    width: 100%;
}
.slides{
    height: 500px;
    width: 400px;
}

.button-left{
    position: relative;
    top: 220px;
    right: 30px;
    float: left;
}
.button-right{
    position: relative;
    bottom: 220px;
    left: 30px;
    float: right;
}
.gallery-button{
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    font-size: 1.25rem;
    background-color: #5585a2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-button:hover{
    opacity: 0.7;
    cursor: pointer;
}


/* Subscribe */
.subscribe{
    grid-area: sub;
    background-image: url("./images/subscribe-background.png");
    background-repeat: no-repeat;
   margin-top: 60px;
    height: 60vh;
    display:grid;
    grid-template-rows: 1fr 1fr;
    justify-content: start;

}
.subscribe-text{
    align-self: end;
    width: 450px;
    padding-left: 150px;
}
.subscribe-text h1{
    font-size: 2.5rem;
    font-family: "Chivo", sans-serif;
    color: black;
    align-self: center;
}
.subscribe-text p{
    line-height: 30px;
}
.subscribe-form{
    width: 850px;
    padding-left: 150px;
}
.subscribe-input{
    width: 500px;
    height:40px;
    background-color: black;
    color: white;
    font-size: 1.25rem;
}
.subscribe-button{
    background-color: #96b92c;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 1.25rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 80px;
}
.subscribe-button:hover{
    opacity: 0.7;
    cursor: pointer;
}


/* Blog */

.blog{
    grid-area: blog;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    background-color: #b07cf7;
}
.blog-text{
    grid-row: 1/2;
    width: 450px;
    line-height: 30px;
    justify-self: center;
}
.blog-text h1{
    font-size: 5rem;
    font-family: "Chivo", sans-serif;
    color: white;
    text-align: center;
}
.blog-text p{
    text-align: center;
    color: white;
}
.blog-cards{
   justify-self: center;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}
.blog-card1{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(180deg,transparent, black), url("images/kiwi-glass.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/2;
    color: white;
    display: grid;
    grid-template-rows: 1fr, 1fr;
}
.blog-calendar{
    grid-row: 1/2;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0, 0.3);
    color: white;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px 0px 10px;
}
.blog-card1:hover,
.blog-card2:hover,
.blog-card3:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 15px black;
    cursor: pointer;
}
.blog-cards p{
    font-size: 1.25rem;
    text-align: center;
    align-self: center;
}

.blog-card2{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(180deg,transparent, black), url("images/beans.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/3;
    color: white;
    display: grid;
    grid-template-rows: 1fr, 1fr;
}
.blog-card3{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(180deg,transparent, black), url("images/raspberries.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3/4;
    color: white;
    display: grid;
    grid-template-rows: 1fr, 1fr;
}
.blog-button{
    width: 200px;
    height: 50px;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    background-color: #f72b3b;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.blog-button:hover{
    opacity: 0.7;
    cursor: pointer;
}


/* Contact */

.contact{
    grid-area: contact;
    background-image: url("images/contact-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 1fr;
    justify-content: space-between;
}
.contact-text{
    grid-row: 1/2;
    grid-column: span 2;
    justify-self: center;
    width: 450px;
    text-align: center;
}
.contact-text h1{
    font-size: 4rem;
}
.contact-text p{
    font-size: 1.25rem;
    line-height: 30px;
}
.contact-form{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: repeat(5, 70px);
    justify-self: end;
}
.contact-form input{
    width: 450px;
    height: 40px;
    background-color: rgba(0,196,196, 0.5);
    font-size: 1.25rem;
}
.contact-form input:focus{
    background-color: rgba(0,196,196, 1);
    border-left: 5px solid grey;
}
.contact-form textarea{
    background-color: rgba(0,196,196, 0.5);
    font-size: 1.25rem;
}
.contact-form textarea:focus{
    background-color: rgba(0,196,196, 1);
    border-left: 5px solid grey;
}
.contact-button{
    width: 200px;
    height: 50px;
    grid-row: 5/6;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    background-color: rgba(0,196,196, 1);
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; 
}
.contact-button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.contact-address{
    grid-row: 2/3;
    justify-self: center;
}



.mobile-menu, .hamburger{
    display: none;
}

/* media */

@media screen and (max-width: 800px){
    .mobile-menu{
        display: none;
    }
    .hamburger{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .menu{
        display: none;
    }
}